.__hide {
    display: none;
}

@media screen and (max-width: 768px) {
    #__header, #__anchor-point, #__hide {
        display: none;
    }
    #__show {
        display: block;
    }
    #__modal {
        width: 100%;
    }
    .__meowimg {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
    #kanonbot {
        justify-content: center;
    }
    #__main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #__left {
        flex: auto;
        height: auto;
        width: 80%;
    }
    #__left img {
        width: 100%;
        height: auto;
    }
    #__right {
        flex: auto;
        justify-content: center;
        height: auto;
    }
    #__right img {
        width: 60%;
        height: auto;
    }
    .__rtl {
        flex-direction: column-reverse !important;
    }
    #__btn {
        width: 100%;
    }
    #__icon-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #__text h2 {
        margin: 10px 0;
    }
    .container {
        max-height: 100% !important;
        height: 100% !important;
        min-height: 100vh !important;
    }
}