@import './base.css';
@import './responsive.css';
@import './fonts.css';

:root {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: overlay;
  font-family: 'SourceHanSans', 'Arial', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 860px) {
  :root {
    overflow: auto;
    scroll-snap-type: none;
  }
}

* {
  scroll-behavior: smooth;
}

* img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

